[data-rehype-pretty-code-figure] pre {
  @apply px-0 max-h-[100vh] !bg-gray-900;
}

figure[data-rehype-pretty-code-figure] > figcaption + pre {
  @apply !rounded-t-none;
}
p > code {
  @apply !text-primary px-1 py-1 rounded-md;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-relaxed md:!leading-loose border-0 p-0;
}

[data-rehype-pretty-code-figure] figcaption[data-rehype-pretty-code-title] {
  @apply bg-[#232628] text-[#F9F9F9] p-2 rounded-t-md;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-primary;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: #363434;
  @apply border-l-primary;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}
